<footer id="footer" class="front-footer">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <a id="topButton" data-smooth-scroll class="button canvas-button top-button" href="#bodyWrap">
                    <i class="fas fa-angle-double-up" aria-hidden="true"></i><span class="show-for-sr">Scroll back to top</span>
                </a>
                <p class="copyright">{{.Site.Params.Copyright.HTML | safeHTML}}</p>
            </div>
        </div>
    </div>
</footer>