{{ partial "head.html" . }}

{{ partial "body-head.html" . }}

<header>
    <section class="crumbs">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <nav class="large-12 cell" aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="/">Home</a></li>
                        <li>
                            <span class="show-for-sr">Current: </span> {{ .Title }}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</header>

<main>
    <section class="primary inset">
        <div class="grid-container">
            <h1><i class="fa fa-edit" aria-hidden="true"></i> {{ .Title }}</h1>
            <div class="grid-x grid-margin-x">
                <div class="article-aside large-3 large-order-2 cell">
                    {{ partial "categories-aside.html" . }}
                    {{ partial "share-aside.html" . }}
                </div>
                <div class="article-list large-9 large-order-1 cell">
                    {{ $paginator := .Paginate (where .Data.Pages "Section" "posts") .Params.Paging.Items }}
                    {{ range $paginator.Pages }}
                    {{ .Render "li" }}
                    {{ end }}
                    {{ partial "pagination.html" . }}
                </div>
            </div>
        </div>
    </section>
</main>

{{ partial "body-foot.html" . }}